name: Build and Push Docker Images

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        api: [gestion-documental-api, proyectos-api, recursos-api]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker registry
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker image
        run: |
          echo "Building Docker image for ${{ matrix.api }}"
          docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ matrix.api }}:latest ./${{ matrix.api }}

      - name: Push Docker image
        run: |
          echo "Pushing Docker image for ${{ matrix.api }}"
          docker push ${{ secrets.DOCKER_USERNAME }}/${{ matrix.api }}:latest
